*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-page{
    background-color: blue;
    padding: 20px;
}

.main-page{
    background-color: yellowgreen;
    padding: 50px;
}

.btn{
    padding: 0px 10px;
}

.outsider{
    width: 900px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.cell{
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    padding: 20px;
}

.bg-dark-green{
    background-color: rgb(0, 69, 0);
}

.footer-page{
    background-color: blue;
    padding: 50px;
}